sudo: false
language: node_js
node_js:
- '8'
- '9'
install:
- npm i npminstall && npminstall
script:
- npm run ci
after_script:
- npminstall codecov && codecov
- chmod a+x ./scripts/deploy.sh
- test $TRAVIS_NODE_VERSION = 8 && ./scripts/deploy.sh
services:
- mongodb
- redis-server
env:
  global:
  - ENCRYPTION_LABEL: f1cc1f575b49

